# Project
dist
build
output
feed
sdk
sdk_mips_24kc_generic
sdk_mipsel_24kc_mt7621
sdk_arm_cortex-a7_neon-vfpv4_mikrotik
sdk_aarch64_cortex-a53_mt7622
sdk_aarch64_cortex-a53_filogic

# C
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Misc
.DS_Store
.vscode
.cache
compile_commands.json

#MQTT TLS
certificates/
.env

