
config wayru_os_services 'wayru_os_services1'
	# enabled
	# Default: 1 (enabled)
	# Set to 0 to disable wayru-os-services
	option enabled '1'
	###########################################################

	#main_api
	option main_api 'https://api.wayru.tech'
	###########################################################
	
	#accounting_api
	option accounting_enabled '1'
	option accounting_interval '300'
	option accounting_api 'https://wifi.api.wayru.tech'
	###########################################################

	#access_task
	option access_task_interval '120'
	##########################################################
