
config wayru_os_services 'wayru_os_services1'
		# enabled
		# Default: 1 (enabled)
		# Set to 0 to disable wayru-os-services
		option enabled '1'
		###########################################################

		# main_api
		option main_api 'https://api.wayru.tech'
		###########################################################

		# accounting api
		option accounting_enabled '1'
		option accounting_interval '300'
		option accounting_api 'https://wifi.api.wayru.tech'
		###########################################################

		# access task
		option access_interval '10800'
		##########################################################

		# device status task
		option device_status_interval '120'
		##########################################################

		# setup task
		option setup_interval '120'
		##########################################################

		#console_log_level
		option console_log_level '1'
		##########################################################

		# monitoring
		option monitoring_enabled '1'
		option monitoring_interval '900'
		option monitoring_minimum_interval '300'
		option monitoring_maximum_interval '900'
		##########################################################

		# speed test
		option speed_test_enabled '1'
		option speed_test_interval '10800'
		option speed_test_minimum_interval '10800'
		option speed_test_maximum_interval '21600'
		option speed_test_latency_attempts '4'
		##########################################################

		# device context
		option device_context_interval '900'
		##########################################################

		# site clients
		option site_clients_interval '60'
		##########################################################

		# broker url
		option mqtt_broker_url 'mqtt.wayru.tech'
		option mqtt_keepalive '60'
		option mqtt_task_interval '30'
		##########################################################

		#reboot device
		option reboot_enabled '1'
		option reboot_interval '88200'
		##########################################################

		# firmware update
		option firmware_update_enabled '1'
		option firmware_update_interval '86400'
		option use_n_sysupgrade "0"
		##########################################################

		# Diagnostic
		option diagnostic_interval '120'		