config fry_agent 'fry_agent'
		option enabled '1'

		option main_api 'https://prod.api.az.fry.network'

		option accounting_api 'https://wifi.api.fry.network'

		option devices_api 'https://devices.fry.network'

		option access_interval '10800'

		option device_status_interval '120'

		option console_log_level '1'

		option monitoring_enabled '1'
		option monitoring_interval '900'
		option monitoring_minimum_interval '300'
		option monitoring_maximum_interval '900'

		option speed_test_enabled '1'
		option speed_test_interval '10800'
		option speed_test_minimum_interval '10800'
		option speed_test_maximum_interval '21600'
		option speed_test_latency_attempts '4'

		option device_context_interval '900'

		option mqtt_broker_url 'mqtt.fry.network'
		option mqtt_keepalive '30'
		option mqtt_task_interval '15'

		option reboot_enabled '1'
		option reboot_interval '88200'

		option firmware_update_enabled '1'
		option firmware_update_interval '86400'
		option use_n_sysupgrade "0"

		option diagnostic_interval '120'
		option external_connectivity_host 'google.com'

		option nds_interval '60'

        option time_sync_server 'ptbtime1.ptb.de'
        option time_sync_interval '3600'

		option package_update_enabled '1'
		option package_update_interval '20000'
