uci set wireless.default_wifi_interface_0.device=radio0
uci set wireless.default_wifi_interface_0.network=encrypted
uci set wireless.default_wifi_interface_0.mode=ap
uci set wireless.default_wifi_interface_0.ssid=Wayru Operator
uci set wireless.default_wifi_interface_0.encryption=psk2
uci set wireless.default_wifi_interface_0.disabled=false
uci set wireless.default_wifi_interface_0.key=988Dh283zX
uci set wireless.default_wifi_interface_0.isolate=false

uci set wireless.default_wifi_interface_1.device=radio1
uci set wireless.default_wifi_interface_1.network=encrypted
uci set wireless.default_wifi_interface_1.mode=ap
uci set wireless.default_wifi_interface_1.ssid=Wayru Operator
uci set wireless.default_wifi_interface_1.encryption=psk2
uci set wireless.default_wifi_interface_1.disabled=false
uci set wireless.default_wifi_interface_1.key=988Dh283zX
uci set wireless.default_wifi_interface_1.isolate=false
